# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Database
*.db

# Logs
*.log

# Environment variables
.env

# Node
node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo